
# Matlab 
## Simulink code generation folders
slprj/
calprj/
sccprj/

## Matlab code generation folders
codegen/

## Simulink autosave extension
*.autosave

## Simulink cache files
*.slxc

## Matlab autosave
*.asv

# Python 
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project
feedback_control.txt